[data-theme='light'],
::before,
::after {
  --color-primary: #2f318b;
  --color-background: rgb(243 243 243);
  --layout-item-hover: var(--color-background);
  --color-logo-background: #2f318b;
  --color-background-2: #fff;
}

[data-theme='dark'],
::before,
::after {
  --color-primary: #2f318b;
  --color-background: rgb(255 255 255 / 9%);
  --layout-item-hover: var(--color-background);
  --color-logo-background: #2f318b;
  --color-background-2: var(--color-background);
}
