{
  "extends": ["@repo/stylelint-config/less"],
  "overrides": [
    {
      "files": ["*.vue"],
      "customSyntax": "postcss-html"
    },
    {
      "files": ["*.less"],
      "customSyntax": "postcss-less"
    }
  ]
}
