{
  "extends": ["@repo/eslint-config/vue3"],
  "parserOptions": {
    "templateTokenizer": {
      "pug": "vue-eslint-parser-template-tokenizer-pug"
    },
    "tsconfigRootDir": ["./tsconfig.json"]
  },
  "rules": {
    "vue/multi-word-component-names": "off"
  }
}
