{
  "overrides": [
    {
      "files": ["**/*.{vue,html}"],
      "customSyntax": "postcss-html"
    },
    {
      "files": ["**/*.{css,scss}"],
      "customSyntax": "postcss-scss"
    }
  ],
  "extends": [
    "stylelint-config-html/vue",
    "stylelint-config-recess-order",
    "stylelint-config-recommended-vue",
    "stylelint-config-recommended-scss"
  ],
  "plugins": ["stylelint-prettier"],
  "rules": {
    "declaration-property-value-no-unknown": null,
    "selector-type-no-unknown": [true, { "ignoreTypes": ["page", "navigator", "swiper", "scroll-view"] }],
    "selector-pseudo-class-no-unknown": [true, {
      "ignorePseudoClasses": ["deep"]
    }],
    "unit-no-unknown": [
      true,
      {
        "ignoreUnits": ["rpx"]
      }
    ],
    "selector-class-pattern": [
      "^[a-z0-9]+(-[a-z0-9]+)*(__[a-z0-9]+(-[a-z0-9]+)*)?(--[a-z0-9]+(-[a-z0-9]+)*)?$",
      {
        "resolveNestedSelectors": true,
        "message": "类名必须符合 BEM 命名规范，例如 block__element--modifier"
      }
    ]
  }
}
